---
import { Image } from "astro:assets";

const { post } = Astro.props;
---

<div>
  <a href={post.url}><h2>{post.frontmatter.title}</h2></a>
  <p>{post.frontmatter.description}</p>
  <p>{post.frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Escrito por: {post.frontmatter.author}</p>
  <Image
    src={post.frontmatter.image.url}
    alt={post.frontmatter.image.alt}
    inferSize
    width={300}
  />
  <slot />
</div>

<style is:inline>
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
</style>
